@model SistemaDeTurnos.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
}

@{
    Html.RenderPartial("_navSuperior");   
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Admin/inicio"><span class="glyphicon glyphicon-home"></a></li>
    <li class="breadcrumb-item"><a href="~/Admin/cajaAsegurado">caja</a></li>
    <li class="breadcrumb-item"><a href="~/Usuarios/Index">Registro usuario</a></li>
    <li class="breadcrumb-item active" aria-current="page">Eliminar usuario</li>
  </ol>
</nav>

<!---->
<img src="~/images/eliminarUsuario.jpg" alt="30x20" class="img-rounded" width="72" height="72">

<h2>Eliminar</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroAsegurado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroAsegurado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credencial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credencial)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@{
    Html.RenderPartial("_footerInferior");   
}
